{{ define "api_key" }}
    {{ template "head" . }}
    {{ template "navbar" . }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>API Key</h1>
                <p>API Key is used to authenticate your requests to the API. You can generate an API Key by clicking the button below.</p>
                <p>Current key: <code>{{ .APIKey }}</code></p>
                <form action="/api_key" method="POST">
                    <button type="submit" class="btn btn-danger">Regenerate API Key</button>
                </form>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}