{{ define "project_secrets" }}
    {{ template "head" . }}
    {{ template "navbar" . }}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <p>Secrets are referenced as environment variables</p>
                        <p>A secret name password would be referenced like below</p>
                        <pre>$COGS_SECRET_PASSWORD</pre>
                        <p>The format is always COGS_SECRET_ and then the secret name</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h3>{{ .Project.Name }} | Available Secrets</h3>
                {{ $projectID := .Project.ID }}
                {{ if .Secrets }}
                <div class="list-group">
                    {{ range .Secrets }}
                        <a href="/projects/{{ $projectID }}/secrets/edit/{{ .ID }}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ .Name }}</h5>
                            </div>
                        </a>
                    {{ end }}
                </div>
                {{ else }}
                    <a class="btn btn-dark" href="/projects/{{ .Project.ID }}/secrets/create" role="button">Create Project's First Secret</a>
                {{ end }}
            </div>
            <div class="col-2">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="/projects/{{ .Project.ID }}">Back to Project</a>
                    <a class="list-group-item list-group-item-action"href="/projects/{{ .Project.ID }}/secrets/create">Create Secret</a>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}

{{ define "create_secret" }}
    {{ template "head" . }}
    {{ template "navbar" . }}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <p>Secret names must only container alphanumeric values and underscores</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <form action="/projects/{{ .Project.ID }}/secrets/create" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name (no spaces or special characters)</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="value" class="form-label">Value</label>
                        <input type="text" class="form-control" id="value" name="value" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Create Secret</button>
                </form>
            </div>
            <div class="col-2">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="/projects/{{ .Project.ID }}">Back to Project</a>
                    <a class="list-group-item list-group-item-action"href="/projects/{{ .Project.ID }}/secrets">Back to Secrets</a>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}

{{ define "edit_secret" }}
    {{ template "head" . }}
    {{ template "navbar" . }}
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8" id="secretHolder">
                <form action="/projects/{{ .Project.ID }}/secrets/edit/{{ .Secret.ID }}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name (no spaces or special characters)</label>
                        <input type="text" class="form-control" id="name" name="name" disabled value="{{ .Secret.Name }}">
                    </div>
                    <div class="mb-3">
                        <label for="value" class="form-label">New Value</label>
                        <input type="text" class="form-control" id="value" name="value" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Update Secret Value</button>
                </form>
            </div>
            <div class="col-2">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="/projects/{{ .Project.ID }}">Back to Project</a>
                    <a class="list-group-item list-group-item-action"href="/projects/{{ .Project.ID }}/secrets">Back to Secrets</a>
                    <button class="list-group-item list-group-item-action bg-danger text-white"
                            hx-delete="/projects/{{ .Project.ID }}/secrets/delete/{{ .Secret.ID }}" hx-target="#secretHolder" hx-confirm="Are you sure you wish to delete this secret?"
                    >Delete Secret</button>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}